.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
}

.carousel-indicators {
    bottom: -70px;
}

.custom-tooltip {
    --bs-tooltip-bg: blueviolet;
    --bs-tooltip-color: white;
  }